body {
  background: #363d43;
}
.browser-terminal-menu {
  background: transparent;
}
.browser-terminal-menu li {
  color: #fff;
}
.browser-terminal-menu li.highlighted {
  color: #fff;
  background-color: #527cff;
}

.drop-target {
  text-align: center;
  color: white;
  width: 400px;
  line-height: 400px;
  border: 4px dashed #fff;
  margin: 1em auto;
}

.viewer-container {
  position: absolute;
  top: 10%;
  left: 10%;
  border: 0;
  width: 80%;
  height: 80%;
}
