body {
  background: #363d43;
}
.browser-terminal-menu {
  background: transparent;
}
.browser-terminal-menu li {
  color: #fff;
}
.browser-terminal-menu li.highlighted {
  color: #fff;
  background-color: #527cff;
}

.drop-target {
  text-align: center;
  color: white;
  border: 4px dashed #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  min-height: 200px;
  margin: 1em;
}

.thumbnail {
  text-align: center;
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer-container {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.display-unused {
  text-align: center;
}

.sidebar p code,
.sidebar h2 code {
  font-weight: bold;
}
.sidebar pre code {
  font-weight: normal;
}

.exercise__07-sessions.passed .display {
  min-height: 400px !important;
  background: #fff;
}

.exercise__09-custom-styles .sidebar blockquote,
.exercise__11-viewer-methods .sidebar blockquote {
  text-align: center;
  white-space: pre-wrap;
}

.exercise__09-custom-styles .display {
  background-color: #fff;
}

.exercise__10-viewer-configs .viewer {
  height: 100%;
  background: rgb(12, 14, 29);
}
.exercise__10-viewer-configs .crocodoc-page {
  padding: 0;
}
.exercise__10-viewer-configs .crocodoc-page-content {
  background: transparent;
}

.exercise__11-viewer-methods .display {
  min-height: 400px !important;
}

.exercise__11-viewer-methods .viewer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 52px;
  background: #F2F2F2;
}
.exercise__11-viewer-methods .display .controls {
  position: absolute;
  bottom: 0;
  height: 52px;
  width: 100%;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 54px;
  border-top: 1px solid #D9D9D9;
}
.exercise__11-viewer-methods .display .controls .button {
  background-color: #DEDEDE;
  border-color: #DEDEDE;
  color: #999;
  width: 40px;
  height: 40px;
  font-size: 14px;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}
.exercise__11-viewer-methods .display .controls .button:hover,
.exercise__11-viewer-methods .display .controls .button:focus {
  border-color: #cbcbcb;
}

.exercise__11-viewer-methods .display .controls .button:active {
  background-color: #cbcbcb;
}

.exercise__11-viewer-methods .display .controls .button[disabled] {
  background-color: #F3F3F3;
  border-color: #F3F3F3;
  color: #ddd;
}

.exercise__12-presentation-layout .display {
  background-color: #222;
}
.exercise__12-presentation-layout .viewer {
  height: 100%;
}

.exercise__12-presentation-layout .display .controls .button {
  background-color: transparent;
  color: #666;
  width: 40px;
  height: 40px;
  font-size: 14px;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
  border: 0;
  position: absolute;
}
.exercise__12-presentation-layout .display .controls .prev-btn {
  top: 50%;
  margin-top: -20px;
  left: 1em;
}
.exercise__12-presentation-layout .display .controls .next-btn {
  top: 50%;
  margin-top: -20px;
  right: 1em;
}
.exercise__12-presentation-layout .display .controls .button:hover,
.exercise__12-presentation-layout .display .controls .button:focus {
  font-weight: bold;
  color: #999;
}

.exercise__12-presentation-layout .display .controls .button[disabled] {
  display: none;
}
